<?xml version="1.0" encoding="UTF-8" ?>  
    <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">  
    <configuration>  
        <properties resource="jdbc.properties"></properties>
        <typeAliases>  
            <typeAlias alias="Blog" type="com.roden.mybatis.pojo.Blog"/>
            <typeAlias alias="Classes" type="com.roden.mybatis.pojo.Classes"/>
            <typeAlias alias="Student" type="com.roden.mybatis.pojo.Student"/>
            <typeAlias alias="Teacher" type="com.roden.mybatis.pojo.Teacher"/>
        </typeAliases>  
        <environments default="development">  
            <environment id="development">  
                <transactionManager type="JDBC" />  
                <dataSource type="POOLED">  
                    <property name="driver" value="${driver}" />  
                    <property name="url" value="${url}" />  
                    <property name="username" value="${username}" />  
                    <property name="password" value="${password}" />  
                </dataSource>  
            </environment>  
        </environments>  
        <mappers>
            <mapper resource="mapper/classMapper.xml"/>
            <mapper resource="mapper/BlogMapper.xml"/>
        </mappers>  
    </configuration>  

